<style>
.lblTop {font-weight:bold;color:red; margin-right:3px;}
</style>
<div class="default_contents">
    <h6 class="pubtime">
        <a id="labName">
            文章列表
        </a>
        :
        <em id="labDescription">
        </em>
    </h6>
</div>
<div id="labArticleList">
    <!-- BEGIN topblog -->
    <div class="default_contents">
        <h6 id="labCreateTime" class="pubtime">
            #{blogpost.CreateDate}
        </h6>
        <div class="user_article">
            <h1 class="title_txt">
                &nbsp;
                <a id="labTitle" href="#{blogpost.Url}">
                    #{blogpost.Status}#{blogpost.Title}
                </a>
            </h1>
            <p id="labAbstract">
                #{blogpost.Body}
            </p>
            <p class="right articalinfo">
                Post @
                <span id="labCreateTime2">
                    #{blogpost.CreateDate}
                </span>
                |
                <span>
                    浏览
                </span>
                <span name="17" id="labHits">
                    (#{blogpost.Hits})
                </span>
                |
                <span>
                    评论
                </span>
                <span id="labCommentCount">
                    (#{blogpost.ReplyCount})
                </span>
                &nbsp;&nbsp;
                <span style="#{EditUrlStyle}">
                <a href="#{blogpost.EditUrl}" id="A3">
                    编辑
                </a>
                </span>
            </p>
        </div>
    </div>
    <!-- END topblog -->
    <!-- BEGIN bloglist -->
    <div class="default_contents">
        <h6 id="H1" class="pubtime">
            #{blogpost.CreateDate}
        </h6>
        <div class="user_article">
            <h1 class="title_txt">
                &nbsp;
                <a id="A1" href="#{blogpost.Url}">
                    #{blogpost.Title}
                </a>
            </h1>
            <p id="P1">
                #{blogpost.Body}
            </p>
            <p class="right articalinfo">
                Post @
                <span id="Span1">
                    #{blogpost.CreateDate}
                </span>
                |
                <span>
                    浏览
                </span>
                <span name="17" id="Span2">
                    (#{blogpost.Hits})
                </span>
                |
                <span>
                    评论
                </span>
                <span id="Span3">
                    (#{blogpost.ReplyCount})
                </span>
                &nbsp;&nbsp;
                <span style="#{EditUrlStyle}">
                <a href="#{blogpost.EditUrl}" id="A2">
                    编辑
                </a>
                </span>
            </p>
        </div>
    </div>
    <!-- END bloglist -->
</div>

<div>#{pager}</div>