{
ConnectionStringTable : {
default:"server=PC-201005211301\\SQLEXPRESS;uid=sa;pwd=sa123;database=wojilu_xw;"
},

DbType : {
default:"sqlserver"
},

ApplicationCache:true,
ApplicationCacheMinutes:-999,
ApplicationCacheManager:"wojilu.cms.xw.MemcachedCache",

AssemblyList : ["wojilu.cms.xw"]
}