<div>
    <div class="adminMainTitle"><div class="adminSidebarTitleInternal">添加文章</div></div>

    <div class="adminMainPanel">
    
    <div class="formPanel">
        <form method="post" action="#{ActionLink}">
        <table>
            <tr><td>标题：</td>
            <td>
            <input name="article.Title" type="text" class="tipInput" tip="请填写标题，5-100个字符" style="width:450px;" />
            <span class="valid" msg="请填写标题" rule="^.{5,100}$" mode="border"></span>
            </td></tr>
            <tr><td>所属分类：</td><td>#{categoryId}</td></tr>
<!--            <tr><td>所属标签：</td><td>#{tagId}</td></tr>   -->
            <tr>
            <td>Tag标签:</td>
            <td> 
<!--            <input name="Editor$Edit$Advanced$txbTag" type="text" id="Editor_Edit_Advanced_txbTag" style="width: 500px">&nbsp;-->
<!--            <a href="#{OpenLink}" class="frmBox" xwidth="300" xheight="250" title="添加标签">插入已有标签</a>&nbsp;(多个关键字之间用“,”分隔，最多不超过10个)</td></tr>-->
<!--            <a href="#{OpenLink}" target="_blank" title="添加标签">插入已有标签</a>&nbsp;(多个关键字之间用“,”分隔，最多不超过10个)-->
<input name="Editor$Edit$Advanced$txbTag" type="text" id="Editor_Edit_Advanced_txbTag" style="width: 500px">&nbsp;
<a onclick="leftVal = (screen.width - 300) / 2;topVal = (screen.height - 500) / 2;window.open('../Tag/Showone','_blank','width=300,height=500,toolbars=yes,resizable=yes,scrollbars=yes,left='+leftVal+',top='+topVal);return false;" href="javascript:void(0);">插入已有标签</a>&nbsp;(多个关键字之间用“,”分隔，最多不超过10个)
            </td>
            </tr>
           

            <tr><td>内容：</td><td>#{Editor}<span class="valid" to="article.Content" msg="请填写内容" mode="border"></span>
            </td></tr>
            <tr><td></td><td><input type="submit" value="添加文章" class="btn" /></td></tr>
        </table>
        

        </form>
</div>

</div>
</div>


