<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
	    <add key="InjectAssembly" value="wojilu.Core, wojilu.Apps, wojilu.Web.Controller, wojilu.Apps.Download"/>
      <!-- 连接字符串是否加密 -->
      <add key="ConStringEncrypt" value="false"/>
      <!-- 连接字符串,(可以扩展支持不同数据库)如果是加密方式，上面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,上面设置为false -->
      <add key="ConnectionString" value="server=DELL-20140809WH\SQLEXPRESS;database=cnblogs;uid=sa;pwd=123"/>

    </appSettings>


    <system.web>
	<httpHandlers>
	    <add verb="*" path="CaptchaImage.ashx" type="wojilu.Web.Handler.CaptchaImageHandler, wojilu"/>     
	    <!-- <add verb="*" path="WebForm1.aspx" type="System.Web.UI.PageHandlerFactory" /> -->
	    <add verb="*" path="*.asp" type="wojilu.Web.Handler.PageNotFoundHandler, wojilu"/>
	    <add verb="*" path="robots.txt" type="System.Web.DefaultHttpHandler"/>
	    <add verb="*" path="refresh.aspx" type="wojilu.Web.Handler.RefreshServerHandler, wojilu.Core"/>
	    <add verb="*" path="*.css,*.jpg,*.jpeg,*.gif,*.png,*.bmp,*.ico,*.js,*.htm,*.html,*.xml,*.swf,*.zip,*.7z,*.rar,*.cur" type="System.Web.DefaultHttpHandler"/>
	    <add verb="*" path="*" type="wojilu.Web.Mvc.CoreHandler, wojilu"/>
	</httpHandlers>

	<httpRuntime maxRequestLength="800000" />
	<authentication mode="Forms">
        <forms name="wojiluASPXAUTH" loginUrl="/Main/Login.aspx" />
	</authentication>
	<compilation debug="true"/>
	<customErrors mode="Off"/>
	<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-cn" />
      <pages validateRequest="false" />
    </system.web>

</configuration>
